<div id='new_repository_form' class='collapse'>
  <%# simple_form_for @repository, remote: true, html: { class: 'form-inline well', data: { type: :json } } do |f| %>
  <%= simple_form_for @repository, remote: true, validate: true,
      html: { class: 'form-horizontal' } do |f| %>
    <div class="form-inputs">
      <%= f.input :name, placeholder: 'Name', class: 'span3' %>
      <%= f.input :type, collection: @repository.types, class: 'span3', label: "Type" %>
      <%= f.input :public %>
    </div>
    <div class='form-actions'>
      <%= link_to 'Cancel', '#new_repository_form', data: { toggle: 'collapse', 
        target: '#new_repository_form' }, class: 'btn' %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <%- end -%>
</div>