%nav.top-bar.expanded
  %ul
    %li.name
      %h1= link_to 'Adept', root_path
    %li.toggle-topbar
      %a{href: '#'}
      
  %section
    %ul.left
      %li= link_to 'Repositories', repositories_path

  %section
    %ul.right
      %li.divider
      %li= link_to 'Dashboard', root_path
      %li.divider
      %li= link_to 'Documentation', root_path
      %li.divider
      %li.has-dropdown
        = link_to do
          %i.settings-nav.icon-cog
        %ul.dropdown
          = render 'users/menu/registration_items'
          %li.divider
          = render 'users/menu/login_items'
